<h1>Датчики:</h1>
<div class="container">
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-3 {{item.status === true? 'color-green': 'color-red'}}" *ngFor="let item of MyDets; let number = index">
            <div class="card-body">
                <h5 class="card-title">{{ item.id }}</h5>
                <p class="card-text">{{ item.name }}</p>  
                <a class="btn btn-primary" (click) = "deleteDet(number)">Удалить датчик</a>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <p>Введите название нового датчика:</p>
                <input type="text" class="form-control" #DetName>
            </div>
            <button class="btn-primary" (click) = "addDet(DetName.value)">Добавить датчик</button>
        </div>
    </div>
</div>